*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    background-color:  #2d3748;

}
.sidebar{
    width: 260px;
    height: 100vh;
    background-color: #fff;
    position: fixed;
}
.brand-name{
    width: 100%;
    display: flex;
    margin-top: 25px;
    align-items: center;
    padding-left: 10px;
    
    
}
.brand-name h2{
    font-size:1.5rem ;
    margin-left: 10px;
}
.brand-name i{
    font-size: 1.8rem;
    color:#4cc9f0 ;
}